In [48]:
%load_ext autoreload
%autoreload 2

from chart import *
from test import TestChart

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [60]:
import pandas as pd

test = TestChart()

test.chart.set_flag()
test.equal_bool('Closure_Daily')
test.equal_bool('Closure_Weekly')
test.equal_bool('Closure_Monthly')

test.chart.add_mm(20)
test.chart.add_mm(20, time='Weekly')
test.chart.add_mm(20, time='Monthly')
test.equal_float('MM_Daily_20')
test.equal_float('MM_Weekly_20')
test.equal_float('MM_Monthly_20')

test.chart.add_mom([10])
test.chart.add_mom([10], time='Weekly')
test.chart.add_mom([10], time='Monthly')
test.chart.add_mom([1,5,10], time='Monthly')
test.equal_float('MoM_Daily_10')
test.equal_float('MoM_Weekly_10')
test.equal_float('MoM_Monthly_10')
test.equal_float('MoM_Monthly_1-5-10')

print(f"\n{test.err} error(s)") 

print(test.chart.data.columns)
print(test.chart.data[[col for col in test.chart.data.columns if 'MoM_Monthly_1-5-10' in col]].head(60))
# print(test.chart.data.tail(20))

Equality test on Closure_Daily ...  OK
Equality test on Closure_Weekly ...  OK
Equality test on Closure_Monthly ...  OK
Equality test on MM_Daily_20 ...  OK
Equality test on MM_Weekly_20 ...  OK
Equality test on MM_Monthly_20 ...  OK
Equality test on MoM_Daily_10 ...  OK
Equality test on MoM_Weekly_10 ...  OK
Equality test on MoM_Monthly_10 ...  OK
Equality test on MoM_Monthly_1-5-10 ...  OK

0 error(s)
Index(['Close', 'Closure_Daily_exp', 'Closure_Weekly_exp',
       'Closure_Monthly_exp', 'MM_Daily_20_exp', 'MM_Weekly_20_exp',
       'MM_Monthly_20_exp', 'MoM_Daily_10_exp', 'MoM_Weekly_10_exp',
       'MoM_Monthly_10_exp', 'MoM_Monthly_5_exp', 'MoM_Monthly_1_exp',
       'MoM_Monthly_1-5-10_exp', 'Closure_Daily', 'Closure_Weekly',
       'Closure_Monthly', 'MM_Daily_20', 'MM_Weekly_20', 'MM_Monthly_20',
       'MoM_Daily_10', 'MoM_Weekly_10', 'MoM_Monthly_10',
       'MoM_Monthly_1-5-10'],
      dtype='object')
            MoM_Monthly_1-5-10_exp  MoM_Monthly_1-5-10
Date
2017-01-03                     NaN                 NaN
2017-01-04                     NaN                 NaN
2017-01-05                     NaN                 NaN
2017-01-06                     NaN                 NaN
2017-01-09                     NaN                 NaN
2017-01-10                     NaN                 NaN
2017-01-11                     NaN                 NaN
2017-01-12                     NaN                 NaN
2017-01-13                     NaN                 NaN
2017-01-17                     NaN                 NaN
2017-01-18                     NaN                 NaN
2017-01-19                     NaN                 NaN
2017-01-20                     NaN                 NaN
2017-01-23                     NaN                 NaN
2017-01-24                     NaN                 NaN
2017-01-25                     NaN                 NaN
2017-01-26                     NaN                 NaN
2017-01-27                     NaN                 NaN
2017-01-30                     NaN                 NaN
2017-01-31                     NaN                 NaN
2017-02-01                     NaN                 NaN
2017-02-02                     NaN                 NaN
2017-02-03                     NaN                 NaN
2017-02-06                     NaN                 NaN
2017-02-07                     NaN                 NaN
2017-02-08                     NaN                 NaN
2017-02-09                     NaN                 NaN
2017-02-10                     NaN                 NaN
2017-02-13                     NaN                 NaN
2017-02-14                     NaN                 NaN
2017-02-15                     NaN                 NaN
2017-02-16                     NaN                 NaN
2017-02-17                     NaN                 NaN
2017-02-21                     NaN                 NaN
2017-02-22                     NaN                 NaN
2017-02-23                     NaN                 NaN
2017-02-24                     NaN                 NaN
2017-02-27                     NaN                 NaN
2017-02-28                  3.9292            3.929177
2017-03-01                  3.9292            3.929177
2017-03-02                  3.9292            3.929177
2017-03-03                  3.9292            3.929177
2017-03-06                  3.9292            3.929177
2017-03-07                  3.9292            3.929177
2017-03-08                  3.9292            3.929177
2017-03-09                  3.9292            3.929177
2017-03-10                  3.9292            3.929177
2017-03-13                  3.9292            3.929177
2017-03-14                  3.9292            3.929177
2017-03-15                  3.9292            3.929177
2017-03-16                  3.9292            3.929177
2017-03-17                  3.9292            3.929177
2017-03-20                  3.9292            3.929177
2017-03-21                  3.9292            3.929177
2017-03-22                  3.9292            3.929177
2017-03-23                  3.9292            3.929177
2017-03-24                  3.9292            3.929177
2017-03-27                  3.9292            3.929177
2017-03-28                  3.9292            3.929177
2017-03-29                  3.9292            3.929177

In [160]:
import numpy as np

# test.chart.data.head(60)


mm=20
time='Weekly'
self_data=test.chart.data.copy()
# self_data.head(60)

data_mm = self_data[self_data[f'Closure{time}'] == True][['Close']]
data_mm[f'MM{mm}{time}'] = np.nan
print(data_mm.shape)
for i, date in enumerate(data_mm.index[mm-1:]):
    # print(i, date, data_mm.iloc[i:i+mm]['Close'])
    data_mm.at[date, f'MM{mm}{time}'] = np.mean(data_mm.iloc[i:i+mm]['Close'])

self_data[f'MM{mm}{time}'] = pd.concat([
    self_data, 
    data_mm[[f'MM{mm}{time}']]
], axis=1).ffill()[f'MM{mm}{time}']

# data_mm.head(40)
# result.iloc[20:40]
self_data.iloc[0:40]
# self_data.head(20)

(303, 2)

,Close,ClosureDaily_exp,IndexDaily_exp,MM20Daily_exp,ClosureWeekly_exp,IndexWeekly_exp,MM20Weekly_exp,ClosureMonthly_exp,IndexMonthly_exp,MM20Monthly_exp,ClosureDaily,ClosureWeekly,ClosureMonthly,MM20Daily,MM20Weekly
Date,,,,,,,,,,,,,,,
2017-01-03,203.7880,True,1,NaN,False,0,NaN,False,0,NaN,True,False,False,NaN,NaN
2017-01-04,205.0004,True,2,NaN,False,0,NaN,False,0,NaN,True,False,False,NaN,NaN
2017-01-05,204.8376,True,3,NaN,False,0,NaN,False,0,NaN,True,False,False,NaN,NaN
2017-01-06,205.5704,True,4,NaN,True,1,NaN,False,0,NaN,True,True,False,NaN,NaN
2017-01-09,204.8918,True,5,NaN,False,0,NaN,False,0,NaN,True,False,False,NaN,NaN
2017-01-10,204.8918,True,6,NaN,False,0,NaN,False,0,NaN,True,False,False,NaN,NaN
2017-01-11,205.4709,True,7,NaN,False,0,NaN,False,0,NaN,True,False,False,NaN,NaN
2017-01-12,204.9552,True,8,NaN,False,0,NaN,False,0,NaN,True,False,False,NaN,NaN
2017-01-13,205.4257,True,9,NaN,True,2,NaN,False,0,NaN,True,True,False,NaN,NaN
2017-01-17,204.7019,True,10,NaN,False,0,NaN,False,0,NaN,True,False,False,NaN,NaN
2017-01-18,205.1542,True,11,NaN,False,0,NaN,False,0,NaN,True,False,False,NaN,NaN
2017-01-19,204.3942,True,12,NaN,False,0,NaN,False,0,NaN,True,False,False,NaN,NaN
2017-01-20,205.1452,True,13,NaN,True,3,NaN,False,0,NaN,True,True,False,NaN,NaN
2017-01-23,204.6114,True,14,NaN,False,0,NaN,False,0,NaN,True,False,False,NaN,NaN
2017-01-24,205.9233,True,15,NaN,False,0,NaN,False,0,NaN,True,False,False,NaN,NaN
2017-01-25,207.7056,True,16,NaN,False,0,NaN,False,0,NaN,True,False,False,NaN,NaN
2017-01-26,207.4885,True,17,NaN,False,0,NaN,False,0,NaN,True,False,False,NaN,NaN
2017-01-27,207.1628,True,18,NaN,True,4,NaN,False,0,NaN,True,True,False,NaN,NaN
2017-01-30,205.8781,True,19,NaN,False,0,NaN,False,0,NaN,True,False,False,NaN,NaN
2017-01-31,205.8599,True,20,205.442845,False,0,NaN,True,1,NaN,True,False,True,205.442845,NaN
2017-02-01,205.9414,True,21,205.550515,False,0,NaN,False,0,NaN,True,False,False,205.550515,NaN
2017-02-02,206.0771,True,22,205.604350,False,0,NaN,False,0,NaN,True,False,False,205.604350,NaN
2017-02-03,207.4976,True,23,205.737350,True,5,NaN,False,0,NaN,True,True,False,205.737350,NaN
2017-02-06,207.1266,True,24,205.815160,False,0,NaN,False,0,NaN,True,False,False,205.815160,NaN
2017-02-07,207.1357,True,25,205.927355,False,0,NaN,False,0,NaN,True,False,False,205.927355,NaN
2017-02-08,207.4071,True,26,206.053120,False,0,NaN,False,0,NaN,True,False,False,206.053120,NaN
2017-02-09,208.6376,True,27,206.211455,False,0,NaN,False,0,NaN,True,False,False,206.211455,NaN
2017-02-10,209.4609,True,28,206.436740,True,6,NaN,False,0,NaN,True,True,False,206.436740,NaN
2017-02-13,210.6009,True,29,206.695500,False,0,NaN,False,0,NaN,True,False,False,206.695500,NaN
2017-02-14,211.4423,True,30,207.032520,False,0,NaN,False,0,NaN,True,False,False,207.032520,NaN
2017-02-15,212.5461,True,31,207.402115,False,0,NaN,False,0,NaN,True,False,False,207.402115,NaN
2017-02-16,212.3651,True,32,207.800660,False,0,NaN,False,0,NaN,True,False,False,207.800660,NaN
2017-02-17,212.6999,True,33,208.178395,True,7,NaN,False,0,NaN,True,True,False,208.178395,NaN
2017-02-21,213.9666,True,34,208.646155,False,0,NaN,False,0,NaN,True,False,False,208.646155,NaN
2017-02-22,213.7766,True,35,209.038820,False,0,NaN,False,0,NaN,True,False,False,209.038820,NaN
2017-02-23,213.9214,True,36,209.349610,False,0,NaN,False,0,NaN,True,False,False,209.349610,NaN
2017-02-24,214.1928,True,37,209.684825,True,8,NaN,False,0,NaN,True,True,False,209.684825,NaN
2017-02-27,214.5276,True,38,210.053065,False,0,NaN,False,0,NaN,True,False,False,210.053065,NaN
2017-02-28,213.9485,True,39,210.456585,False,0,NaN,True,2,NaN,True,False,True,210.456585,NaN
2017-03-01,216.9432,True,40,211.010750,False,0,NaN,False,0,NaN,True,False,False,211.010750,NaN

In [ ]:
import plotly.graph_objects as go
import datetime as dt

fig = go.Figure()

data = chart.data[chart.data['Date'] > dt.datetime(2021, 1, 1)]

fig.add_trace(go.Scatter(x=data['Date'], y=data['Close']))
fig.add_trace(go.Scatter(x=data['Date'], y=data['MM20Daily_expected']))
fig.add_trace(go.Scatter(x=data['Date'], y=data['MM20Daily']))
fig.add_trace(go.Scatter(x=data['Date'], y=data['MM20Weekly_expected']))
fig.add_trace(go.Scatter(x=data['Date'], y=data['MM20Weekly']))

fig.show()

In [55]:
moms=[1,5,10]
'-'.join([str(mom) for mom in moms])

np.mean([1,np.nan,3])

nan